/* Card Flip START */
.cardContainer {
  perspective: 1000px;
  width: 100%; /* Make container responsive */
  eight: 0px;
}

.card {
  width: 100%; /* Make card responsive */
  height: 0px;
  padding-bottom: 100%; /* Aspect ratio of 2:3 */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: none;
}

.card.flipped {
  transform: rotateY(180deg);
}

@media (min-width: 992px) {
.card {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: none;
}

.card img {
  width: 480px;
  height: 600px;
  position: absolute;
  backface-visibility: hidden;
}
}

@media (max-width: 991px) {
.card {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: none;
}

.card img {
  width: 100%;
  height: auto;
  position: absolute;
  backface-visibility: hidden;
  margin-bottom: 2em;
}
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}
/* Card Flip END */

/* Youtube Playlist START*/
.sidebar {
background-color: #f1f1f1;
padding: 20px;
height: 480px;
overflow-y: auto;
}
h2 {
margin-top: 0;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
ul li {
margin-bottom: 10px;
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.thumbnail {
width: 200px;
margin-bottom: 5px;
border-radius: 8px;
}
.video-title {
flex-grow: 1;
margin-bottom: 5px;
text-align: center;
}
.remove-button {
margin-left: auto;
cursor: pointer;
color: red;
font-size: 1.5rem;
}
/* Youtube Playlist END*/
.portfolioImageThumbnailModal {
border-radius: 15px;
}
.portfolioImageThumbnail {
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
transition: 0.2s;
}
.portfolioImageThumbnail:hover {
box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 13px;
transform: translateY(-10px);
cursor: pointer;
}
.full-width-page #personalPortfolio h1 {
color: #fff;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
font-weight: bolder;
}
@media (min-width: 1200px) {
.full-width-page #personalPortfolio h1 {
font-size: 46px;
width: 1145px;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
.full-width-page #personalPortfolio h1 {
width: 970px;
}
}
@media (min-width: 1200px) {
.full-width-page #personalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/personalPorftolioBannerImage-11.jpg') no-repeat scroll center / cover;
padding: 265px 0 45px;
margin-top: 3em;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
.full-width-page #personalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/personalPorftolioBannerImage-11.jpg') no-repeat scroll center / cover;
padding: 300px 0 45px;
margin-top: 3em;
}
}
@media (min-width: 992px) {
.visibleDesktop {display: block;}
.visibleTabletMobile {display: none;}
}
@media (max-width: 991px) {
.full-width-page #personalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/personalPorftolioBannerImage-11.jpg?width=1200') no-repeat scroll 100% 50% / cover;
padding: 200px 0 25px;
margin-top: 4em;
}
.visibleDesktop {display: none;}
.visibleTabletMobile {display: block;}
}
@media (max-width: 991px) and (min-width: 768px) {
.full-width-page #personalPortfolio h1 {
width: 750px;
}
}
.full-width-page #professionalPortfolio h1 {
color: #fff;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
font-weight: bolder;
}
@media (min-width: 1200px) {
.full-width-page #professionalPortfolio h1 {
font-size: 46px;
width: 1145px;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
.full-width-page #professionalPortfolio h1 {
width: 970px;
}
}
@media (min-width: 1200px) {
.full-width-page #professionalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/dealerOnLogoFullWidthBanner-01.jpg') no-repeat scroll center / cover;
padding: 265px 0 45px;
margin-top: 3em;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
.full-width-page #professionalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/dealerOnLogoFullWidthBanner-01.jpg') no-repeat scroll center / cover;
padding: 300px 0 45px;
margin-top: 3em;
}
}
@media (max-width: 991px) {
.full-width-page #professionalPortfolio {
background: linear-gradient(175deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), #112F5D url('../Images/dealerOnLogoFullWidthBanner-01.jpg?width=1200') no-repeat scroll 92% 50% / cover;
padding: 200px 0 25px;
margin-top: 4em;
}
}
@media (max-width: 991px) and (min-width: 768px) {
.frontEndDevHomepageText { margin-top: 15em; }
.full-width-page #professionalPortfolio h1 {
width: 750px;
}
}
.personalWorkHomepage {
background-color: #009FFD;
}
.professionalWorkHomepage {
background-color: #112F5D;
}
.featured-container {
display: flex;
flex-flow: row wrap;
align-items: center;
}
.featured-container .featured-item-1,
.featured-container .featured-item-2 {
width: 50%;
}
@media (min-width: 992px) {
.featured-container .featured-item-1 {
padding: 0 40px;
}
.navPortfolioLinks {
width: 165px;
}
.navOtherLinks {
width: 85px;
}
.nav-link {
font-size: 14px;
font-weight: 700;
}
.homepagePCLogoMobile {
display: none;
}
.homepagePCLogoDesktop {
display: block;
}
#desktopHomepageCarousel {
display: block;
}
#smallScreensHomepageCarousel {
display: none;
}
}
@media (max-width: 991px) and (min-width: 768px) {
.featured-container .featured-item-1 {
padding: 1em;
}
}
@media (max-width: 991px) {
#desktopHomepageCarousel {
display: none;
}
#smallScreensHomepageCarousel {
display: block;
}
.homepagePCLogoMobile {
display: block;
}
.homepagePCLogoDesktop {
display: none;
}
#cassellLogo {
margin-top: 10px;
}
.nav-link {
font-size: 16px;
font-weight: 700;
}
.featured-container .featured-item-1,
.featured-container .featured-item-2 {
width: 100%;
}
}
.taglineText>h1 {
font: 3rem;
}
.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232A2A72' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232A2A72' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-prev,
.carousel-control-next {
background-color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
}
.carousel-control-prev {
left: -20px;
top: 50%;
}
.carousel-control-next {
right: -20px;
top: 50%;
}
.larger {
font-size: 120%;
}
.lead {
font-size: 140%;
}
.text-center {
text-align: center;
}
.text-white {
color: #fff;
}
.navbar-light .navbar-toggler {
border-color: rgba(0, 0, 0, 0);
}
.menu-btn {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 60px;
cursor: pointer;
transition: all .5s ease-in-out;
border: 3px solid #fff;
}
.menu-btn__burger {
width: 50px;
height: 6px;
background: #000;
border-radius: 5px;
transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
content: '';
position: absolute;
width: 50px;
height: 6px;
background: #000;
border-radius: 5px;
transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
transform: translateY(-16px);
}
.menu-btn__burger::after {
transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
transform: translateX(-50px);
background: transparent;
box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
transform: rotate(-45deg) translate(35px, 35px);
}
html,
body {
font-family: 'Montserrat', sans-serif;
margin: 0 auto;
padding: 0;
overflow-x: hidden;
overflow-y: auto;
}
hr {
border-top: 10px double #2A2A72;
}
a:hover {
text-decoration: none;
}
#mainNavbar {
background-color: white;
box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}
#topAboutSection {
padding-top: 100px;
padding-bottom: 100px;
}
.introRow {
margin-top: 60px;
padding-left: 15px;
padding-right: 15px;
}
#graphicDesignTopRow {
margin-top: 100px;
}
#contactFullRow {
margin-top: 105px;
}
#myNameIs {
font-size: 1.5em;
font-weight: 700;
}
#paulCassell {
font-size: 2em;
font-weight: 700;
}
#webDesignerAndDeveloper {
font-size: 1.5em;
font-weight: 700;
}
#topAboutSectionText {
border-left: 4px solid black;
padding-left: 10px;
color: black;
}
#bottomContactSection {
padding-top: 100px;
padding-bottom: 100px;
}
.secondRow {
padding-top: 50px;
padding-bottom: 50px;
margin-top: 20px;
/*background: #FFA400;*/
}
#thirdRow {
padding-top: 50px;
padding-bottom: 50px;
background-color: #FEE440;
color: black;
}
#mySkills {
font-size: 70px;
font-weight: 700;
color: black;
}
#myProcess {
font-weight: 700;
font-size: 70px;
}
#aboutContainer {
border: 3px solid black;
padding: 10px;
border-radius: 5px;
}
#aboutContainer p {
font-size: 16px;
}
#cassellEmailForm {
border: 1px solid black;
box-shadow: 5px 10px;
padding: 20px;
margin-top: 30px;
margin-bottom: 50px;
}
#contactFormRightColumnText {
padding: 20px;
margin-top: 30px;
margin-bottom: 50px;
}
#aboutMeParagraph {
font-size: 22px;
font-weight: 500;
}
#contactEnvelope {
color: black;
transition: 0.3s;
}
#aboutMe {
background-color: black;
color: white;
font-weight: 700;
padding: 7px;
padding: 4px 10px;
border-radius: 3px;
transform: skew(-10deg);
-o-transform: skew(-10deg);
-moz-transform: skew(-10deg);
-webkit-transform: skew(-10deg);
}
#introductionSVG {
width: 60%;
}
#bottomFooter {
text-align: center;
color: #ffffff;
background-color: #2A2A72;
}
#bottomFooter2 {
text-align: center;
color: #ffffff;
background-color: #2A2A72;
position: absolute;
margin-top: 80px;
}
a #dribbbleFooter {
text-decoration: none;
padding-left: 5px;
color: #ffffff;
transition: 0.2s;
}
a #linkedinFooter {
text-decoration: none;
padding-left: 5px;
color: #ffffff;
transition: 0.2s;
}
a #githubFooter {
text-decoration: none;
padding-left: 5px;
color: #ffffff;
transition: 0.2s;
}
a #dribbbleFooter:hover {
color: #B3B3B3;
}
a #linkedinFooter:hover {
color: #B3B3B3;
}
a #githubFooter:hover {
color: #B3B3B3;
}
#mainNavbar>div>div.d-flex.flex-nowrap.w-100>button>span {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#mainNavbar>div>div.d-flex.flex-nowrap.w-100>button {
border-color: white;
}
.skillsLogos {
width: 50%;
margin-top: 10px;
margin-bottom: 10px;
}
.aboutMeText {
font-size: 20px;
}
.projectTitle {
font-weight: 700;
font-size: 20px;
padding: 20px;
}
#hAboutMeText {
font-size: 30px;
font-weight: 500;
color: #FFA400;
}
#iAboutMeText {
font-size: 30px;
font-weight: 500;
color: #FFA400;
}
#aboutMeTitle {
font-weight: 700;
text-align: center;
font-size: 50px;
}
#aboutMeProfessional {
font-weight: 700;
font-size: 40px;
}
#aboutMePersonal {
font-weight: 700;
font-size: 40px;
}
#backgroundLink {
text-decoration: underline;
color: black;
transition: 0.2s;
}
#backgroundLink:hover {
text-decoration: none;
color: #FEE440;
}
#adobeToolbox {
width: 60%;
}
#aboutMeColumn {
margin-top: 105px;
}
.logoPicture {
cursor: pointer;
}
#catIllustration {
padding-top: 60px;
}
#navLinks {
color: black;
}
.cassellButton {
background-color: #FFA400;
border: 3px solid #FFA400;
transition: 0.4s;
font-size: 16px;
border-radius: 5px;
padding: 5px 15px;
color: #fff;
font-weight: bolder;
}
.cassellButton:hover {
background-color: #fff;
color: #000 !important;
border-color: #FFA400;
cursor: pointer;
font-weight: bolder;
}
.maynoothButton {
background-color: #842C68;
transition: 0.4s;
font-size: 14px;
border-radius: 15px;
padding: 10px 20px;
color: white;
box-shadow: 0px 5px 8px rgb(211, 211, 211);
border: none;
font-weight: 500;
}
.maynoothButton:hover {
background-color: white;
color: #842C68;
cursor: pointer;
font-weight: 500;
}
.maynoothLinks {
text-decoration: none;
color: #842C68;
transition: 0.2s;
}
.maynoothLinks:hover {
text-decoration: none;
color: #F3B541;
}
.processCopy {
font-size: 20px;
}
#turtleneckPortraitAboutMe {
margin-top: 100px;
}
.cassellEmailCard {
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
}
.processBox {
border: 4px solid black;
padding: 20px;
border-radius: 10px;
margin: 15px;
box-shadow: 5px 10px;
}
.processTitle {
font-size: 40px;
font-weight: 700;
}
.maynoothSubtitles {
font-weight: 700;
color: #842C68;
transition: 0.2s;
}
.maynoothSubtitles:hover {
font-weight: 700;
color: #F3B541;
}
#maynoothTableOfContents {
border-radius: 20px;
margin-top: 1em;
margin-bottom: 2em;
background-color: #842C68;
transition: 0.4s;
border-radius: 15px;
padding: 15px 20px;
color: white;
box-shadow: 0px 5px 8px rgb(211, 211, 211);
border: none;
font-weight: 500;
}
.maynoothLinksTableOfContents {
text-decoration: none;
color: white;
font-size: 20px;
transition: 0.2s;
}
.maynoothLinksTableOfContents:hover {
text-decoration: none;
color: #F3B541;
}
#maynoothLogo2 {
width: 50%;
}
.maynoothTableOfContentsButton {
color: white;
transition: 0.2s;
}
.projectTitleText {
font-size: 2em;
font-weight: bolder;
}
.maynoothTableOfContentsButton:hover {
text-decoration: none;
color: #F3B541;
}
#cassellEmailForm>a:hover {
text-decoration: none;
}
#cassellLogo {
height: 45px;
}
@media (min-width: 1800px) {
.designToolsImg {
width: 350px;
}
#cassellLogo {
height: 45px;
margin-top: 10px;
}
}
@media (min-width: 1200px) {
.navContainer {
max-width: 1400px;
}
}
@media (min-width: 1799px) and (max-width: 992px) {
.designToolsImg {
width: 350px;
}
#cassellLogo {
height: 45px;
margin-top: 10px;
}
}
@media (min-width: 1800px) {
.openingTagline {
padding: 15em 5em;
}
}
@media (min-width: 1200px) and (max-width: 1799px) {
.openingTagline {
padding: 15em 3em;
}
}
@media (min-width: 1025px) and (max-width: 1199px) {
.openingTagline {
padding: 15em 0em;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.openingTagline {
padding: 5em 1em;
}
}
@media (min-width: 768px) {
.taglineText {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 3em;
}
.designToolsOutline {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 2em;
margin: 2em;
}
.designToolsOutlineHomepage {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 2em;
margin: 2em;
}
}
@media (max-width: 767px) {
.openingTagline {
padding: 4em 1em;
}
.taglineText {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #2A2A72,
inset 0 0 0 6px #000,
inset 0 0 0 10px #009FFD,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 2em;
}
.designToolsOutline {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 2em;
}
.designToolsOutlineHomepage {
background-color: #fff;
border: 2px solid #000;
box-shadow:
inset 0 0 0 4px #009FFD,
inset 0 0 0 6px #000,
inset 0 0 0 10px #2A2A72,
inset 0 0 0 12px #000;
border-radius: 20px;
padding: 2em;
margin: 0.5em;
}
}
@media (min-width: 991px) and (max-width: 768px) {
.designToolsImg {
width: 350px;
}
#cassellLogo {
height: 45px;
margin-top: 10px;
}
}
@media (max-width: 767px) {
.designToolsImg {
width: 350px;
}
#cassellLogo {
height: 30px !important;
margin-top: 12px !important;
margin-bottom: 10px !important;
}
}
@media only screen and (max-width: 600px) {
#bottomContactSection {
padding-top: 0px;
padding-bottom: 50px;
}
#mySkills {
font-size: 40px;
}
#myProcess {
font-size: 40px;
}
.secondRow {
margin-top: 0;
}
#topAboutSection {
padding-top: 50px;
padding-bottom: 50px;
}
#topAboutSectionText {
color: black;
border-left: 4px solid black;
}
#webDesigner {
color: #2541B2;
}
#developer {
color: #FFE74C;
}
#maynoothLogo2 {
width: 100%;
}
.projectTitle {
font-weight: 700;
font-size: 20px;
padding: 20px;
}
}
@media only screen and (max-width: 1024px) {
#topAboutSectionText {
color: black;
}
#offsetSquare {
background-color: #2541B2;
position: absolute;
top: 50px;
right: 50px;
left: 50px;
bottom: 50px;
border-radius: 10px;
z-index: -1;
}
#secondOffsetSquare {
display: none;
background-color: rgba(0, 0, 0, 0);
}
}